QWidget {
    background-color: white;
    color: #222;
}
QPushButton {
    background-color: #e0e0e0;
    color: #222;
    border-radius: 5px;
    padding: 5px;
}
QPushButton:hover {
    background-color: #d0d0d0;
}
QLineEdit {
    background-color: #fafafa;
    color: #222;
    border: 1px solid #ccc;
}
